/* #first-col {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#second-col {
  border-right: 1px solid black;
}
#third-col {
  border-right: 1px solid black;
}
#fourth-col {
  border-right: 1px solid black;
} */