.App {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin:0;
    color: #333333;
}
#header {
    margin-left: 5%;
    display: flex;
}
#txtHd-div {
    width: 50%;
}
#header-text {
    font-weight: 700;
    font-size: 1.5em;
}
#subhead-text {
    font-weight: 400;
    font-size: .85em;
    margin-top: -1vh;
}
#addBtn-div {
    width: 20%;
    margin-left:45%;
    margin-right: 5%;
    margin-top: 2%;
}
#add-new-btn {
    background-color: #57BB77;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: .75em;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
}
/* styling the school flex group */
.header {
    font-weight: 700;
    font-size: 1.15em;
}
#school-flex {
    display: flex;
    height: 50vh;
    overflow: scroll;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#name-clmn {
    width: 40%;
    
}
#city-clmn {
    width: 20%;
}
#state-clmn {
    width: 20%;
}
#zip-clmn {
    width: 20%;
}
/* would have been where the three dots were */
/* #action-clmn {
    width: 10%;
} */
.col {
    padding: 10px;
    border: 1px solid grey;
    letter-spacing: 1px;
}
/* the overlay styling */
#input-new-school {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
}
.inpt-vl {
    width: 100%;
    padding: 2%;
    letter-spacing: 1px;
}
#sve-cncl {
    margin-top: 2%;
}
#cncl-btn {
    background-color: white;
    color: grey;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: .75em;
    border: none;
    text-decoration: none;
    padding: 15px 30px;
    cursor: pointer;
    width: 50%;
}
#save-btn {
    background-color: #5FAEE1;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: .75em;
    border: none;
    text-decoration: none;
    padding: 15px 30px;
    cursor: pointer;
    width: 50%;
}